body{
  background-color: rgb(70, 164, 241);
  padding: 20px;
}
.board{
  width: calc(100vh - 240px);
  max-width: calc(100vw - 40px);
  
}
.card-outer{
  perspective:1000px;
  height: calc((100vh - 290px) / 6);
  max-height: calc((100vw - 90px) / 6);
}
.card{
  
  transform:rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.card .front, .card .back{
 
  backface-visibility: hidden;
}

.card .back{
  background-color: rgb(147, 62, 175);
  transform:rotateY(180deg);
}
.card-outer.flipped .card{
  transform:rotateY(0);
}


.stats{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-size: 2rem;
}